:root {
  --index: calc(1vw + 1vh);
  --font-family-header: "Outfit-f";
  --font-family-main: "Raleway-f";
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 7.5);
  --68px: calc(var(--index) * 2.01491);
  --50px: calc(var(--index) * 1.75);
  --30px: calc(var(--index) * 0.75);
}

/* stylelint-disable */
@font-face {
  font-family: "Outfit-f";
  src: url("../fonts/../fonts/outfit-regular.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-f";
  src: url("../fonts/../fonts/raleway-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-f";
  src: url("../fonts/../fonts/raleway-black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::-moz-selection {
  background-color: orange;
  color: #000;
}

::selection {
  background-color: orange;
  color: #000;
}

.page {
  -webkit-text-size-adjust: 100%;
}
.page__body {
  background-image: url(../img/bg.jpg);
  background-size: 15px;
  background-color: #1a1a1a;
  color: #fafafa;
  font-family: var(--font-family-main), sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

/** Custom scroll */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px #262626;
  background-color: #1d1e1c;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #db9617;
}

/** Global  styles */
a {
  text-decoration: none !important;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-header), sans-serif;
  margin: 0;
}

.container {
  padding: 0 7vw;
}
@media (max-width: 1199.98px) {
  .container {
    padding: 0 3vw;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

/* will-change */
.content,
.ecursor,
.letter,
.hero,
.hero__head,
.gallery > *,
.hero__title,
.gallery__item,
.hero__img,
.navigation__nav,
.social-bar .slider-nav-item,
.hamburglar,
.footer,
.footer .container > * {
  will-change: transform, opacity;
}

@media (max-width: 1199.98px) {
  .hideTouch {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .hideTouch {
    display: block !important;
  }
}
#preloader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  margin: 0;
  width: 100vw;
  height: 100%;
  background: #1a1a1a;
  z-index: 99999999;
}
#preloader-container .preloader-text {
  position: absolute;
  inset: 0;
  margin: 0;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  line-height: 100vh;
  font-family: var(--font-family-header), sans-serif;
  letter-spacing: calc(var(--index) * 0.2);
  font-size: calc(var(--index) * 0.75);
}
@media (max-width: 1199.98px) {
  #preloader-container .preloader-text {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  #preloader-container .preloader {
    width: 150px;
    height: 150px;
  }
}
#preloader-container .preloader circle {
  stroke-dashoffset: 0;
  fill: none;
  stroke-linecap: round;
}
#preloader-container .preloader circle:nth-child(1) {
  stroke: rgba(255, 165, 0, 0.35);
}
#preloader-container .preloader circle:nth-child(2) {
  stroke: #111;
}
#preloader-container .preloader circle:nth-child(3) {
  stroke: #e69500;
}
#preloader-container.hidden {
  display: none;
}

@media (max-width: 1199.98px) {
  .hero {
    overflow-x: hidden;
  }
}
.hero__img {
  width: calc(var(--index) * 36);
  position: absolute;
  z-index: -1;
  max-width: 100%;
}
.hero__head {
  height: var(--vh);
}
.hero__title {
  font-size: calc(var(--index) * 5.9);
  letter-spacing: calc(var(--index) * 0.15);
  position: absolute;
  max-width: calc(var(--index) * 27);
  bottom: 20vh;
  line-height: 0.9;
}
@media (max-width: 767.98px) {
  .hero__title {
    bottom: unset;
    top: 15vh;
  }
}

.word {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.word:last-of-type .letter {
  font-size: calc(var(--index) * 3.8);
}

/* #Cursor
================================================== */
.cursor,
.cursor2,
.cursor3 {
  position: fixed;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}

.cursor {
  background-color: #fff;
  height: 0;
  width: 0;
  z-index: 99999;
}

.cursor2,
.cursor3 {
  height: 36px;
  width: 36px;
  z-index: 99998;
}

.cursor2.hover,
.cursor3.hover {
  -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
  -ms-transform: scale(2) translateX(-25%) translateY(-25%);
  transform: scale(2) translateX(-25%) translateY(-25%);
  border: none;
}

.cursor2 {
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}

.cursor2.hover {
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1199.98px) {
  .cursor,
  .cursor2,
  .cursor3 {
    display: none;
  }
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: var(--30px);
  top: var(--30px);
  z-index: 999;
}
.navigation__icon-wrap {
  cursor: pointer;
  padding: 5px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.navigation__icon {
  width: 100%;
}
.navigation__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.hamburglar {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  position: relative;
  display: block;
  width: 68px;
  height: 68px;
  background: #141414;
  z-index: 999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 0 22px rgba(255, 165, 0, 0.45);
  box-shadow: 0 0 22px rgba(255, 165, 0, 0.45);
  border-radius: 100%;
  -webkit-transition: -webkit-box-shadow 0.75s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: -webkit-box-shadow 0.75s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  -o-transition: box-shadow 0.75s cubic-bezier(0.075, 0.5, 0, 1), transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: box-shadow 0.75s cubic-bezier(0.075, 0.5, 0, 1), transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  transition: box-shadow 0.75s cubic-bezier(0.075, 0.5, 0, 1), transform 0.75s cubic-bezier(0.075, 0.5, 0, 1), -webkit-box-shadow 0.75s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}
@media (max-width: 767.98px) {
  .hamburglar {
    zoom: 0.9;
  }
}

.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 68px;
  -webkit-mask: url(#mask);
  mask: url(#mask);
  -webkit-mask-box-image: url(../img/mask.svg);
}

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.path-rotation:before {
  content: "";
  display: block;
  width: 30px;
  height: 34px;
  margin: 0 4px 0 0;
  background: orange;
}

@-webkit-keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-out {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-in {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotate-in {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.hamburglar.is-open {
  -webkit-transform: scale(0.7353);
  -ms-transform: scale(0.7353);
  transform: scale(0.7353);
  -webkit-box-shadow: 0 0 22px rgba(255, 255, 255, 0.35);
  box-shadow: 0 0 22px rgba(255, 255, 255, 0.35);
  opacity: 0.6;
}
.hamburglar.is-open .path {
  -webkit-animation: dash-in 0.5s linear normal;
  animation: dash-in 0.5s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hamburglar.is-open .animate-path {
  -webkit-animation: rotate-in 0.5s linear normal;
  animation: rotate-in 0.5s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .path {
  -webkit-animation: dash-out 0.5s linear normal;
  animation: dash-out 0.5s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hamburglar.is-closed .animate-path {
  -webkit-animation: rotate-out 0.5s linear normal;
  animation: rotate-out 0.5s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}

@-webkit-keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}
@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}
.burger-icon {
  position: absolute;
  padding: 20px 16px;
  height: 68px;
  width: 68px;
}

.burger-container {
  position: relative;
  height: 28px;
  width: 36px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: orange;
}

.burger-bun-top {
  top: 0;
  -webkit-transform-origin: 34px 2px;
  -ms-transform-origin: 34px 2px;
  transform-origin: 34px 2px;
}

.burger-bun-bot {
  bottom: 0;
  -webkit-transform-origin: 34px 2px;
  -ms-transform-origin: 34px 2px;
  transform-origin: 34px 2px;
}

.burger-filling {
  top: 12px;
}

.burger-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.svg-ring {
  width: 68px;
  height: 68px;
}

.hamburglar.is-open .burger-bun-top {
  -webkit-animation: bun-top-out 0.5s linear normal;
  animation: bun-top-out 0.5s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hamburglar.is-open .burger-bun-bot {
  -webkit-animation: bun-bot-out 0.5s linear normal;
  animation: bun-bot-out 0.5s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-top {
  -webkit-animation: bun-top-in 0.5s linear normal;
  animation: bun-top-in 0.5s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hamburglar.is-closed .burger-bun-bot {
  -webkit-animation: bun-bot-in 0.5s linear normal;
  animation: bun-bot-in 0.5s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes bun-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes bun-bot-out {
  0% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes bun-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes bun-bot-in {
  0% {
    left: -5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.hamburglar.is-open .burger-filling {
  -webkit-animation: burger-fill-out 0.5s linear normal;
  animation: burger-fill-out 0.5s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-filling {
  -webkit-animation: burger-fill-in 0.5s linear normal;
  animation: burger-fill-in 0.5s linear normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}
@-webkit-keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  100% {
    width: 0;
    left: 36px;
  }
}
@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  100% {
    width: 0;
    left: 36px;
  }
}
/**********************************************/
.social-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-bar .slider-nav-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 15px;
  font-size: 22px;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 100%;
  background: #141414;
  color: orange;
  cursor: pointer;
  -webkit-box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 22px;
  box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 22px;
  opacity: 0;
  -webkit-transform: translate(-75px, 0);
  -ms-transform: translate(-75px, 0);
  transform: translate(-75px, 0);
}
@media (max-width: 767.98px) {
  .social-bar .slider-nav-item {
    zoom: 0.6;
  }
}
@media (max-width: 376px) {
  .social-bar .slider-nav-item {
    zoom: 0.5;
  }
}
.social-bar .slider-nav-item:before {
  position: absolute;
  content: "";
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  border-radius: 50%;
  border: 2px solid rgba(255, 165, 0, 0.35);
  -webkit-animation: 1.5s linear 0s normal none infinite focuse;
  animation: 1.5s linear 0s normal none infinite focuse;
}
.social-bar .slider-nav-item:after {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 2px;
  content: "";
  width: 100%;
  background: url("../img/line.png") repeat 0 0;
  z-index: 0;
  -webkit-animation: slide 2.5s linear infinite;
  animation: slide 2.5s linear infinite;
}
.social-bar .slider-nav-item:last-child:after {
  width: 58%;
  width: 58%;
}
@media (max-width: 767.98px) {
  .social-bar .slider-nav-item:last-child:after {
    width: 78%;
  }
}
@media (max-width: 376px) {
  .social-bar .slider-nav-item:last-child:after {
    width: 88%;
  }
}
.social-bar .slider-nav-item .social-icon {
  max-height: 22px;
  width: 100%;
  fill: orange;
}
.social-bar .slider-nav-item .social-icon.whatsapp-icon {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.social-bar .slider-nav-item:hover .social-icon {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

/*social*/
@-webkit-keyframes focuse {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
    -webkit-box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 2px;
    box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 2px;
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    -webkit-box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 12px;
    box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 12px;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    -webkit-box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 2px;
    box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 2px;
  }
}
@keyframes focuse {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
    -webkit-box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 2px;
    box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 2px;
  }
  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    -webkit-box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 12px;
    box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 12px;
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    -webkit-box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 2px;
    box-shadow: rgba(255, 165, 0, 0.45) 0px 0px 2px;
  }
}
@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

.portfolio {
  padding-bottom: calc(var(--index) * 2);
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .portfolio {
    padding-bottom: calc(var(--index) * 5);
    margin-top: calc(var(--index) * 4);
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: calc(var(--index) * 8) 0;
  padding-bottom: 0;
}
@media (max-width: 991.98px) {
  .gallery {
    gap: 5vw;
  }
}
@media (max-width: 767.98px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 0;
  }
}
.gallery > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.gallery__left {
  margin-top: calc(var(--gallery-gap) * 4.75);
}
@media (max-width: 1199.98px) {
  .gallery__left {
    margin-top: calc(var(--gallery-gap) * 0.25);
  }
}
@media (max-width: 767.98px) {
  .gallery__left {
    margin-top: calc(var(--gallery-gap) * 0.5);
  }
}
.gallery__right .gallery__item {
  margin: 0;
  margin-top: var(--gallery-gap);
}
@media (max-width: 767.98px) {
  .gallery__right .gallery__item {
    margin-top: 0;
    margin-bottom: var(--gallery-gap);
  }
}
.gallery__item {
  max-width: calc(var(--index) * 21);
  margin-bottom: var(--gallery-gap);
  border-radius: 8px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .gallery__item {
    max-width: calc(var(--index) * 30);
  }
}
.gallery__item__inner {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.gallery__item__img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 180vh;
}
.gallery__item--text {
  color: var(--color-text);
  position: relative;
}
.gallery__item--text__h {
  font-size: calc(var(--index) * 2);
  line-height: 1.4;
  color: var(--color-header);
  margin-bottom: calc(var(--index) * 0.9);
  letter-spacing: calc(var(--index) * 0.15);
}
@media (max-width: 767.98px) {
  .gallery__item--text__h {
    font-size: 38px;
  }
}
.gallery__item--text__content {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.gallery__item--text__content > p {
  font-size: calc(var(--index) * 0.9);
  line-height: 1.4;
}
.gallery__item--text__content > span {
  font-size: calc(var(--index) * 0.9);
  line-height: 1.4;
  display: block;
  padding-bottom: calc(var(--index) * 0.45);
  margin-bottom: calc(var(--index) * 0.45);
  position: relative;
}
@media (max-width: 767.98px) {
  .gallery__item--text__content > span {
    font-size: 16px;
  }
}
.gallery__item--text__content > span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10%;
  height: 2px;
  background-color: #db9617;
  border-radius: 8px;
}
.gallery__item--text__content > span:last-child::before {
  display: none;
}
.gallery__item--text__ul {
  padding-left: calc(var(--index) * 1.1);
  margin-bottom: calc(var(--index) * 1.1);
}
.gallery__item--text__ul li {
  font-size: calc(var(--index) * 0.75);
  line-height: 1.4;
  margin-bottom: calc(var(--index) * 0.45);
  position: relative;
}
@media (max-width: 767.98px) {
  .gallery__item--text__ul li {
    font-size: 16px;
  }
}
.gallery__item--text__ul li::marker {
  color: #db9617;
  font-size: calc(var(--index) * 0.9);
  line-height: 0;
}
.gallery__item--text__ul li:last-child {
  margin-bottom: 0;
}
.gallery__item--text__ul li > h4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  letter-spacing: calc(var(--index) * 0.05);
}
.gallery__item--text__ul--bigFz li {
  font-size: calc(var(--index) * 0.9);
}
@media (max-width: 767.98px) {
  .gallery__item--text__ul--bigFz li {
    font-size: 20px;
  }
}

.game-item {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 80vh;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 991.98px) {
  .game-item {
    height: 76vh;
  }
}
@media (max-width: 767.98px) {
  .game-item {
    height: 70vh;
  }
}
.game-item__cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-position: center left;
  background-size: cover;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  will-change: transform;
  -webkit-transform: skewX(0.001deg);
  -ms-transform: skewX(0.001deg);
  transform: skewX(0.001deg);
  -webkit-transition: -webkit-transform 0.35s ease-in-out;
  transition: -webkit-transform 0.35s ease-in-out;
  -o-transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}
@media (min-width: 1200px) {
  .game-item:hover {
    opacity: 1 !important;
  }
  .game-item:hover .game-item__cover {
    -webkit-transform: rotateX(7deg) translateY(-6px) translateZ(-18px);
    transform: rotateX(7deg) translateY(-6px) translateZ(-18px);
  }
}
.game-item::before {
  display: block;
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 94%;
  height: 94%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
  will-change: transform, opacity;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: skewX(0.001deg);
  -ms-transform: skewX(0.001deg);
  transform: skewX(0.001deg);
  -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.35s ease-in-out;
  transition: opacity 0.5s ease-in-out, -webkit-transform 0.35s ease-in-out;
  -o-transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out, -webkit-transform 0.35s ease-in-out;
}
@media (min-width: 1200px) {
  .game-item:hover::before {
    opacity: 0.6;
    -webkit-transform: rotateX(7deg) translateY(-6px) scale(1.03);
    transform: rotateX(7deg) translateY(-6px) scale(1.03);
  }
}
.game-item--right::before {
  left: auto;
  right: 5%;
}

.circle-anim {
  position: fixed;
  right: calc(var(--index) * 0.75);
  bottom: calc(var(--index) * 0.75);
  z-index: 99;
  width: calc(var(--index) * 1.75);
  pointer-events: none;
}
@media (max-width: 1199.98px) {
  .circle-anim {
    min-width: 40px;
  }
}
.circle-anim .progress {
  stroke: orange;
}
.circle-anim .progress.hide {
  opacity: 0;
}

.m-backtotop {
  --w50: calc(var(--index) * 1.75);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: calc(var(--index) * -1.75);
  right: calc(var(--index) * 0.75);
  width: var(--w50);
  height: var(--w50);
  min-width: 40px;
  min-height: 40px;
  background: #222;
  border-radius: 100%;
  text-align: center;
  border: 2px solid #fff;
  opacity: 0;
  overflow: hidden;
  color: #fff;
  z-index: 98;
}
.m-backtotop.active {
  bottom: calc(var(--index) * 0.75);
  opacity: 1;
}
.m-backtotop > div {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.m-backtotop > div.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
}
.m-backtotop > div.arrow .arrowUp {
  fill: #fff;
  width: calc(var(--index) * 0.75);
  height: calc(var(--index) * 0.75);
}
@media (max-width: 1199.98px) {
  .m-backtotop > div.arrow .arrowUp {
    min-width: 20px;
    min-height: 20px;
  }
}
.m-backtotop > div.text {
  font-size: calc(var(--index) * 0.32);
  line-height: 1.1;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(50%) translateX(-50%);
  -ms-transform: translateY(50%) translateX(-50%);
  transform: translateY(50%) translateX(-50%);
  opacity: 0;
  margin-top: 1px;
  font-weight: 900;
}
@media (max-width: 1199.98px) {
  .m-backtotop > div.text {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .m-backtotop:hover {
    bottom: calc(var(--index) * 0.75);
    cursor: pointer;
    background: black;
    -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  }
  .m-backtotop:hover > div.arrow {
    -webkit-transform: translateY(-150%) translateX(-50%);
    -ms-transform: translateY(-150%) translateX(-50%);
    transform: translateY(-150%) translateX(-50%);
    opacity: 0;
  }
  .m-backtotop:hover > div.text {
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
  }
}

.footer {
  padding-top: calc(var(--index) * 1.8);
  padding-bottom: calc(var(--index) * 1.2);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f1f1f1;
  background-color: #262626;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a0a0a), color-stop(90%, #1a1a1a));
  overflow: hidden;
  bottom: 0;
  -webkit-box-shadow: inset 0 8px 15px -10px rgba(255, 165, 0, 0.35);
  box-shadow: inset 0 8px 15px -10px rgba(255, 165, 0, 0.35);
  opacity: 0;
  -webkit-transform: translateY(150%);
  -ms-transform: translateY(150%);
  transform: translateY(150%);
  -webkit-transition: opacity 1.8s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 1.8s cubic-bezier(0.075, 0.5, 0, 1);
  transition: opacity 1.8s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 1.8s cubic-bezier(0.075, 0.5, 0, 1);
  -o-transition: transform 1.8s cubic-bezier(0.075, 0.5, 0, 1), opacity 1.8s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 1.8s cubic-bezier(0.075, 0.5, 0, 1), opacity 1.8s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 1.8s cubic-bezier(0.075, 0.5, 0, 1), opacity 1.8s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 1.8s cubic-bezier(0.075, 0.5, 0, 1);
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.footer.show {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.footer.show .footer__head {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.footer.show .footer__social {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.footer.show .footer__copy {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.footer__head {
  text-align: center;
  margin-bottom: calc(var(--index) * 1.4);
  opacity: 0;
  -webkit-transform: translateY(20vh);
  -ms-transform: translateY(20vh);
  transform: translateY(20vh);
  -webkit-transition: opacity 2.1s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 2.1s cubic-bezier(0.075, 0.5, 0, 1);
  transition: opacity 2.1s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 2.1s cubic-bezier(0.075, 0.5, 0, 1);
  -o-transition: transform 2.1s cubic-bezier(0.075, 0.5, 0, 1), opacity 2.1s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 2.1s cubic-bezier(0.075, 0.5, 0, 1), opacity 2.1s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 2.1s cubic-bezier(0.075, 0.5, 0, 1), opacity 2.1s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 2.1s cubic-bezier(0.075, 0.5, 0, 1);
}
.footer__head h3 {
  font-size: calc(var(--index) * 1.55);
  letter-spacing: calc(var(--index) * 0.15);
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .footer__head h3 {
    font-size: 24px;
  }
}
.footer__social {
  opacity: 0;
  -webkit-transform: translateY(20vh);
  -ms-transform: translateY(20vh);
  transform: translateY(20vh);
  -webkit-transition: opacity 2.4s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 2.4s cubic-bezier(0.075, 0.5, 0, 1);
  transition: opacity 2.4s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 2.4s cubic-bezier(0.075, 0.5, 0, 1);
  -o-transition: transform 2.4s cubic-bezier(0.075, 0.5, 0, 1), opacity 2.4s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 2.4s cubic-bezier(0.075, 0.5, 0, 1), opacity 2.4s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 2.4s cubic-bezier(0.075, 0.5, 0, 1), opacity 2.4s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 2.4s cubic-bezier(0.075, 0.5, 0, 1);
}
.footer__social .social-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social .social-bar .slider-nav-item {
  -webkit-transform: unset;
  -ms-transform: unset;
  transform: unset;
  opacity: 1;
  width: calc(var(--index) * 1.9879);
  height: calc(var(--index) * 1.9879);
}
.footer__social .social-bar .slider-nav-item:last-child::after {
  display: none;
}
.footer__social .social-bar .slider-nav-item .social-icon {
  max-height: calc(var(--index) * 0.9);
}
@media (max-width: 767.98px) {
  .footer__social .social-bar .slider-nav-item {
    zoom: 1;
  }
}
@media (max-width: 376px) {
  .footer__social .social-bar .slider-nav-item {
    zoom: 0.9;
  }
}
.footer__copy {
  font-size: calc(var(--index) * 0.55);
  margin-top: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) * 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transform: translateY(20vh);
  -ms-transform: translateY(20vh);
  transform: translateY(20vh);
  -webkit-transition: opacity 2.7s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 2.7s cubic-bezier(0.075, 0.5, 0, 1);
  transition: opacity 2.7s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 2.7s cubic-bezier(0.075, 0.5, 0, 1);
  -o-transition: transform 2.7s cubic-bezier(0.075, 0.5, 0, 1), opacity 2.7s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 2.7s cubic-bezier(0.075, 0.5, 0, 1), opacity 2.7s cubic-bezier(0.075, 0.5, 0, 1);
  transition: transform 2.7s cubic-bezier(0.075, 0.5, 0, 1), opacity 2.7s cubic-bezier(0.075, 0.5, 0, 1), -webkit-transform 2.7s cubic-bezier(0.075, 0.5, 0, 1);
}
@media (max-width: 767.98px) {
  .footer__copy {
    font-size: 12px;
  }
}
.footer__copy .heart {
  max-height: 20px;
  max-width: 20px;
  fill: #e69500;
  margin-left: 5px;
  margin-right: 7px;
}

.wrapper-404 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}
.wrapper-404 .container {
  margin: 0 auto;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.wrapper-404 .container .scene {
  position: absolute;
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
}
.wrapper-404 .container .one,
.wrapper-404 .container .two,
.wrapper-404 .container .three,
.wrapper-404 .container .circle,
.wrapper-404 .container .p404 {
  width: 60%;
  height: 60%;
  top: 20% !important;
  left: 20% !important;
  min-width: 400px;
  min-height: 400px;
}
.wrapper-404 .container .one .content,
.wrapper-404 .container .two .content,
.wrapper-404 .container .three .content,
.wrapper-404 .container .circle .content,
.wrapper-404 .container .p404 .content {
  width: 600px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: content 0.8s cubic-bezier(1, 0.06, 0.25, 1) backwards;
  animation: content 0.8s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}
@-webkit-keyframes content {
  0% {
    width: 0;
  }
}
@keyframes content {
  0% {
    width: 0;
  }
}
.wrapper-404 .container .one .content .piece,
.wrapper-404 .container .two .content .piece,
.wrapper-404 .container .three .content .piece,
.wrapper-404 .container .circle .content .piece,
.wrapper-404 .container .p404 .content .piece {
  width: 200px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  border-radius: 80px;
  z-index: 1;
  -webkit-animation: pieceLeft 8s cubic-bezier(1, 0.06, 0.25, 1) infinite both;
  animation: pieceLeft 8s cubic-bezier(1, 0.06, 0.25, 1) infinite both;
}
@-webkit-keyframes pieceLeft {
  50% {
    left: 80%;
    width: 10%;
  }
}
@keyframes pieceLeft {
  50% {
    left: 80%;
    width: 10%;
  }
}
@-webkit-keyframes pieceRight {
  50% {
    right: 80%;
    width: 10%;
  }
}
@keyframes pieceRight {
  50% {
    right: 80%;
    width: 10%;
  }
}
@media screen and (max-width: 799px) {
  .wrapper-404 .container .one,
  .wrapper-404 .container .two,
  .wrapper-404 .container .three,
  .wrapper-404 .container .circle,
  .wrapper-404 .container .p404 {
    width: 90%;
    height: 90%;
    top: 5% !important;
    left: 5% !important;
    min-width: 280px;
    min-height: 280px;
  }
}
@media screen and (max-height: 660px) {
  .wrapper-404 .container .one,
  .wrapper-404 .container .two,
  .wrapper-404 .container .three,
  .wrapper-404 .container .circle,
  .wrapper-404 .container .p404 {
    min-width: 280px;
    min-height: 280px;
    width: 60%;
    height: 60%;
    top: 20% !important;
    left: 20% !important;
  }
}
.wrapper-404 .container .text {
  width: 60%;
  height: 40%;
  min-width: 400px;
  min-height: 500px;
  position: absolute;
  margin: 40px 0;
  -webkit-animation: text 0.6s 1.8s ease backwards;
  animation: text 0.6s 1.8s ease backwards;
}
@-webkit-keyframes text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
}
@keyframes text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
}
@media screen and (max-width: 799px) {
  .wrapper-404 .container .text {
    min-height: 400px;
    height: 80%;
  }
}
.wrapper-404 .container .text article {
  width: 400px;
  position: absolute;
  bottom: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media screen and (max-width: 799px) {
  .wrapper-404 .container .text article {
    width: 100%;
  }
}
.wrapper-404 .container .text article p {
  color: white;
  font-size: 18px;
  letter-spacing: 0.6px;
  margin-bottom: 40px;
  text-shadow: 6px 6px 10px #32243e;
}
.wrapper-404 .container .text article .home-btn {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 30px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 20px rgba(54, 24, 79, 0.5);
  box-shadow: 0px 15px 20px rgba(54, 24, 79, 0.5);
  z-index: 3;
  color: #695681;
  background-color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wrapper-404 .container .text article .home-btn:hover {
  -webkit-box-shadow: 0px 10px 10px -10px rgba(54, 24, 79, 0.5);
  box-shadow: 0px 10px 10px -10px rgba(54, 24, 79, 0.5);
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  background: #fb8a8a;
  color: white;
}
.wrapper-404 .container .p404 {
  font-size: 200px;
  font-weight: 700;
  letter-spacing: 4px;
  color: white;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  -webkit-animation: anime404 0.6s cubic-bezier(0.3, 0.8, 1, 1.05) both;
  animation: anime404 0.6s cubic-bezier(0.3, 0.8, 1, 1.05) both;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
@media screen and (max-width: 799px) {
  .wrapper-404 .container .p404 {
    font-size: 100px;
  }
}
@-webkit-keyframes anime404 {
  0% {
    opacity: 0;
    -webkit-transform: scale(10) skew(20deg, 20deg);
    transform: scale(10) skew(20deg, 20deg);
  }
}
@keyframes anime404 {
  0% {
    opacity: 0;
    -webkit-transform: scale(10) skew(20deg, 20deg);
    transform: scale(10) skew(20deg, 20deg);
  }
}
.wrapper-404 .container .p404:nth-of-type(2) {
  color: #36184f;
  z-index: 1;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  opacity: 0.8;
}
.wrapper-404 .container .circle {
  position: absolute;
}
.wrapper-404 .container .circle:before {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  background-color: rgba(54, 24, 79, 0.2);
  border-radius: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: inset 5px 20px 40px rgba(54, 24, 79, 0.25), inset 5px 0px 5px rgba(50, 36, 62, 0.3), inset 5px 5px 20px rgba(50, 36, 62, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);
  box-shadow: inset 5px 20px 40px rgba(54, 24, 79, 0.25), inset 5px 0px 5px rgba(50, 36, 62, 0.3), inset 5px 5px 20px rgba(50, 36, 62, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);
  -webkit-animation: circle 0.8s cubic-bezier(1, 0.06, 0.25, 1) backwards;
  animation: circle 0.8s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}
@-webkit-keyframes circle {
  0% {
    width: 0;
    height: 0;
  }
}
@keyframes circle {
  0% {
    width: 0;
    height: 0;
  }
}
@media screen and (max-width: 799px) {
  .wrapper-404 .container .circle:before {
    width: 400px;
    height: 400px;
  }
}
.wrapper-404 .container .one .content:before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: rgba(54, 24, 79, 0.3);
  border-radius: 100%;
  -webkit-box-shadow: inset 5px 20px 40px rgba(54, 24, 79, 0.25), inset 5px 0px 5px rgba(50, 36, 62, 0.3), inset 5px 5px 20px rgba(50, 36, 62, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);
  box-shadow: inset 5px 20px 40px rgba(54, 24, 79, 0.25), inset 5px 0px 5px rgba(50, 36, 62, 0.3), inset 5px 5px 20px rgba(50, 36, 62, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);
  -webkit-animation: circle 0.8s 0.4s cubic-bezier(1, 0.06, 0.25, 1) backwards;
  animation: circle 0.8s 0.4s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}
@media screen and (max-width: 799px) {
  .wrapper-404 .container .one .content:before {
    width: 300px;
    height: 300px;
  }
}
.wrapper-404 .container .one .content .piece {
  background: -webkit-gradient(linear, left top, right top, color-stop(13.7%, #8077ea), color-stop(94.65%, #eb73ff));
  background: -o-linear-gradient(left, #8077ea 13.7%, #eb73ff 94.65%);
  background: linear-gradient(90deg, #8077ea 13.7%, #eb73ff 94.65%);
}
.wrapper-404 .container .one .content .piece:nth-child(1) {
  right: 15%;
  top: 18%;
  height: 30px;
  width: 120px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-name: pieceRight;
  animation-name: pieceRight;
}
.wrapper-404 .container .one .content .piece:nth-child(2) {
  left: 15%;
  top: 45%;
  width: 150px;
  height: 50px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-name: pieceLeft;
  animation-name: pieceLeft;
}
.wrapper-404 .container .one .content .piece:nth-child(3) {
  left: 10%;
  top: 75%;
  height: 20px;
  width: 70px;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-name: pieceLeft;
  animation-name: pieceLeft;
}
.wrapper-404 .container .two .content .piece {
  background: -webkit-gradient(linear, left top, right top, from(#ffedc0), to(#ff9d87));
  background: -o-linear-gradient(left, #ffedc0 0%, #ff9d87 100%);
  background: linear-gradient(90deg, #ffedc0 0%, #ff9d87 100%);
}
.wrapper-404 .container .two .content .piece:nth-child(1) {
  left: 0%;
  top: 25%;
  height: 40px;
  width: 120px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-name: pieceLeft;
  animation-name: pieceLeft;
}
.wrapper-404 .container .two .content .piece:nth-child(2) {
  right: 15%;
  top: 35%;
  width: 180px;
  height: 50px;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-name: pieceRight;
  animation-name: pieceRight;
}
.wrapper-404 .container .two .content .piece:nth-child(3) {
  right: 10%;
  top: 80%;
  height: 20px;
  width: 160px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-name: pieceRight;
  animation-name: pieceRight;
}
.wrapper-404 .container .three .content .piece {
  background: #fb8a8a;
}
.wrapper-404 .container .three .content .piece:nth-child(1) {
  left: 25%;
  top: 35%;
  height: 20px;
  width: 80px;
  -webkit-animation-name: pieceLeft;
  animation-name: pieceLeft;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.wrapper-404 .container .three .content .piece:nth-child(2) {
  right: 10%;
  top: 55%;
  width: 140px;
  height: 40px;
  -webkit-animation-name: pieceRight;
  animation-name: pieceRight;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.wrapper-404 .container .three .content .piece:nth-child(3) {
  left: 40%;
  top: 68%;
  height: 20px;
  width: 80px;
  -webkit-animation-name: pieceLeft;
  animation-name: pieceLeft;
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.scene > * {
  will-change: transform;
}