# Cache HTML files for 5 minutes
<FilesMatch "\.html$">
  Header set Cache-Control "max-age=600, private, must-revalidate"
  Header unset ETag
  Header unset Last-Modified
  Header append Vary Accept-Encoding
</FilesMatch>

# Cache fonts for 30 days
<FilesMatch "\.(eot|otf|ttc|ttf|woff|woff2)$">
  Header set Cache-Control "max-age=2592000, public"
  Header unset ETag
  Header unset Last-Modified
</FilesMatch>

# Cache CSS and JS files for 30 days
<FilesMatch "\.(css|js)$">
  Header set Cache-Control "max-age=2592000, public"
  Header unset ETag
  Header unset Last-Modified
</FilesMatch>

# Cache image files for 30 days
<FilesMatch "\.(bmp|gif|jpg|jpeg|png|svg|webp)$">
  Header set Cache-Control "max-age=2592000, public"
  Header unset ETag
  Header unset Last-Modified
</FilesMatch>